<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Ahora reservar tu auto con alquila tu carro es Más Rápido, Fácil y Confiable." />
        <title>Reserva tu Carro Online</title>
       
        
        <link rel="preload" href="https://storage.googleapis.com/alquilamecostore/reservas2020/css/vendor.css" as="style">
        <link rel="preload" href="https://storage.googleapis.com/alquilamecostore/reservas2020/css/app.css" as="style">

        <link href="https://storage.googleapis.com/alquilamecostore/reservas2020/css/vendor.css" rel="stylesheet" type="text/css">
        <link href="https://storage.googleapis.com/alquilamecostore/reservas2020/css/app.css" rel="stylesheet" type="text/css">

        <!-- <link rel="preload" href="css/vendor.css" as="style">
        <link rel="preload" href="css/app.css" as="style">

        <link href="css/vendor.css" rel="stylesheet" type="text/css">
        <link href="css/app.css" rel="stylesheet" type="text/css"> -->
   

    </head>
    <body>
        <div class="container-fluid">
            <section id="cabecera" class="fondo-cabecera">
                <div  class="contenido-cabecera row container center-block">
                    <div id="logo" class="col-md-12">
                      <img src="https://storage.googleapis.com/alquilamecostore/landing2020/images/logo.png" alt="logo cliente" width="139" height="41" class="img-responsive center-block"/>
                    </div>
                </div>
            </section>
            <section id="cuerpo" class="fondo-cuerpo">
                <div class="row center-block">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h2 class="text-center bottom5">RESERVA AHORA</h2>
                        <div id="formulario">

                            <form action="index.html" method="post"
                                @submit.prevent="onSubmit"
                                @change="form.errors.clear($event.target.name)"
                                @keydown="form.errors.clear($event.target.name)"
                                @input="form.errors.clear($event.target.name)">

                                <div id="vehiculos" class="row">
                                    <div class="paso">
                	                    <h4 style="color: #fff;">
                	                        <img src="https://storage.googleapis.com/alquilamecostore/reservas2020/images/01.png" alt="" width="63" height="32" style="margin: -2px 5px 0px 5px;"/>
                	                        Vehículo
                	                    </h4>
                	                </div>
                                    <div class="form-group">
                                        <select 
                                            id="vehiculo" 
                                            class="form-control" 
                                            name="vehiculo" 
                                            v-model="form.vehiculo" 
                                            >
                                            <option :value="null" disabled selected>Seleccione el vehículo</option>
                                            <option v-for="car in filterUnabledCarCategories" :value="car">
                                                {{ car.name }}
                                            </option>
                                        </select>

                                        <div class="error-notification" v-if="form.errors.errors.vehiculo">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('vehiculo') }}
                                        </div>

                                    </div>
                                </div>

                                <div id="car_image" class="row car-image" v-if="form.vehiculo">
                                    <img :src="form.vehiculo.image" :alt="form.vehiculo.name" class="media-object center-block"></img>
                                </div>

                                <div id="fechas" class="row">

                                    <div class="paso">
                	                        <h4 style="color: #fff;">
                	                            <img src="https://storage.googleapis.com/alquilamecostore/reservas2020/images/02.png" alt="" width="66" height="33" style="margin: -2px 5px 0px 5px;"/>
                	                            Fechas
                	                        </h4>
                	                </div>

                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">Recogida</div>
                                        <div class="col-md-6 col-xs-6">Devolución</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">

                                            <div class="form-group">
                                                <div class="input-group date">
                                                    <input
                                                        class="form-control"
                                                        id="fecha_recogida_picker"
                                                        type="text"
                                                        name="fecha_recogida"
                                                        readonly
                                                        placeholder="Fecha recogida"
                                                        autocomplete="off"
                                                        v-datetime:date
                                                        v-model="form.fecha_recogida">

                                                    <span class="input-group-btn">
                                						<button
                                                            type="button"
                                                            class="btn btn-default"
                                                            @click="toggleFechaRecogidaButton"><i class="glyphicon glyphicon-calendar"></i></button>
                                    				</span>

                                                </div>
                                                <div class="error-notification" v-if="form.errors.has('fecha_recogida')">
                                                    <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('fecha_recogida') }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="input-group date">
                                                    <input
                                                        class="form-control"
                                                        type="text"
                                                        name="fecha_devolucion"
                                                        id="fecha_devolucion_picker"
                                                        readonly
                                                        placeholder="Fecha devolución"
                                                        autocomplete="off"
                                                        v-datetime:date
                                                        v-model="form.fecha_devolucion">
                                                    <span class="input-group-btn">
                                						<button
                                                            type="button"
                                                            class="btn btn-default"
                                                            @click="toggleFechaDevolucionButton"><i class="glyphicon glyphicon-calendar"></i></button>
                                    				</span>
                                                </div>
                                                <div class="error-notification" v-if="form.errors.has('fecha_devolucion')">
                                                    <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('fecha_devolucion') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="input-group date">
                                                    <input class="form-control"
                                                            type="text"
                                                            readonly
                                                            name="hora_recogida"
                                                            id="hora_recogida_picker"
                                                            placeholder="Hora recogida"
                                                            autocomplete="off"
                                                            v-datetime:time
                                                            v-model="form.hora_recogida"
                                                            >
                                                    <span class="input-group-btn">
                                                        <button
                                                            type="button"
                                                            class="btn btn-default"
                                                            @click="toggleHoraRecogidaButton"><i class="glyphicon glyphicon-time"></i></button>
                                    				</span>
                                                </div>
                                                <div class="error-notification" v-if="form.errors.has('hora_recogida')">
                                                    <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('hora_recogida') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="input-group date">
                                                    <input
                                                        class="form-control"
                                                        type="text"
                                                        name="hora_devolucion"
                                                        id="hora_devolucion_picker"
                                                        readonly
                                                        placeholder="Hora devolución"
                                                        autocomplete="off"
                                                        v-datetime:time
                                                        v-model="form.hora_devolucion">
                                                    <span class="input-group-btn">
                                                        <button
                                                            type="button"
                                                            class="btn btn-default"
                                                            @click="toggleHoraDevolucionButton"><i class="glyphicon glyphicon-time"></i></button>
                                    				</span>
                                                </div>
                                                <div class="error-notification" v-if="form.errors.has('hora_devolucion')">
                                                    <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('hora_devolucion') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="car_totalprice" class="row" v-if="selected_days && form.vehiculo">
                                    <div class="row" style="margin-bottom: 1px;">
                        	          <div class="col-xs-6 col-md-6 text-right">
                        	              <strong style="color: #9C0233; ">Precio por día:</strong>
                        	          </div>
                        	          <div class="col-xs-6 col-md-6 text-left">
                        	              <span id="vehiculo_priceperday">{{ formatMoneyPricePerDay }}</span>
                        	          </div>
                        	      </div>
                        	      <div class="row" style="margin-bottom: 1px;" >
                        	          <div class="col-xs-6 col-md-6 text-right">
                        	              <strong style="color: #9C0233;" >{{ selected_days }} días:</strong>
                        	          </div>
                        	          <div class="col-xs-6 col-md-6 text-left">
                        	              <span id="vehiculo_subtotal">
                                              {{ formatMoneySubtotalPrice }}
                                          </span>
                        	          </div>
                        	      </div>
                                  <div class="row" style="margin-bottom: 1px;" v-if="checkExtraHours()">
                        	          <div class="col-xs-6 col-md-6 text-right">
                        	              <strong style="color: #9C0233;" >{{ formatHourDifference }}:</strong>
                        	          </div>
                        	          <div class="col-xs-6 col-md-6 text-left">
                        	               <span id="vehiculo_extra_hours">
                                                    {{ formatMoneyExtraHours }}
                                            </span>
                        	          </div>
                        	      </div>
                        	      <div class="row" style="margin-bottom: 1px;" v-if="form.vehiculo.getDiscountPrice(selected_days) > 0">
                        	          <div class="col-xs-6 col-md-6 text-right">
                        	              <strong style="color: #9C0233;" >Descuento:</strong>
                        	          </div>
                        	          <div class="col-xs-6 col-md-6 text-left">
                        	            <span id="vehiculo_price_with_discount">
                                            <strong style="background-color: #FF9933; color: #fff; padding: 3px 3px 3px 3px;">
                                                {{ formatMoneyDiscountPrice }}
                                            </strong>
                                        </span>
                        	          </div>
                        	      </div>


                        	      <div class="row bottom10" >
                        	          <div class="col-xs-6 col-md-6 text-right"  style="margin-top: 5px;">
                        	              <strong style="color: #9C0233; text-align:right;">TOTAL A PAGAR:</strong>
                        	          </div>
                        	          <div class="col-xs-6 col-md-6 text-left">
                        	              <span id="vehiculo_total">
                                                <strong style="font-size: 20px;">
                                                    {{ formatMoneyTotalPrice }}
                                                </strong>
                                          </span>
                        	          </div>
                        	      </div>
                                </div>

                                <div class="row" >
                                    <p style="border-top: 1px solid #8c8b8b;"></p>
                                    <div class="form-group">
                                        <p class="text-justify">
                                            Seleccione el horario de recogida y devolución de vehículos según nuestro horario de atención
                                            (lunes a viernes 8:00 am a 6:00 pm y sabado de 8:00 am a 12:00 m GMT-5) o informese de nuestros horarios extendidos.
                                        </p>
                                        <p class="text-justify">
                                            Usted puede recoger o devolver el vehículo las 24 horas del día en el aeropuerto de cada ciudad,
                                            <strong><u>solo si cuenta con número de vuelo</u></strong>, para esto incluya información en la parte inferior de este formulario.
                                        </p>
                                    </div>
                                </div>

                                <div id="lugares" class="row">

                                    <div class="paso">
                	                    <h4 style="color: #fff;">
                	                        <img src="https://storage.googleapis.com/alquilamecostore/reservas2020/images/03.png" alt="" width="66" height="33" style="margin: -2px 5px 0px 5px;"/>
                	                        Lugares
                	                    </h4>
                	                </div>



                                    <div class="form-group">
                                        <select 
                                            class="form-control" 
                                            name="lugar_recogida" 
                                            v-model="form.lugar_recogida"
                                            @change="form.errors.clear('lugar_devolucion')">
                                            <option :value="null" disabled selected>Seleccione el lugar de recogida</option>
                                            <option v-for="place in pick_up_places" v-bind:value="place.value">
                                                Recoger en: {{ place.text }}
                                            </option>
                                        </select>

                                        <div class="error-notification" v-if="form.errors.has('lugar_recogida')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('lugar_recogida') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="lugar_devolucion" v-model="form.lugar_devolucion">
                                            <option :value="null" disabled selected>Seleccione el lugar de devolución</option>
                                            <option v-for="place in pick_up_places" v-bind:value="place.value">
                                                Devolver en: {{ place.text }}
                                            </option>
                                        </select>

                                        <div class="error-notification" v-if="form.errors.has('lugar_devolucion')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('lugar_devolucion') }}
                                        </div>
                                    </div>
                                </div>

                                <div id="datos-personales" class="row">

                                    <div class="paso">
                	                    <h4 style="color: #fff;">
                	                        <img src="https://storage.googleapis.com/alquilamecostore/reservas2020/images/04.png" alt="" width="66" height="33" style="margin: -2px 5px 0px 5px;"/>
                	                        Datos personales
                	                    </h4>
                	                </div>

                                    <div class="form-group">
                                        <input type="text" name="nombre" placeholder="Nombre completo"
                                        autocomplete="off" class="form-control" v-model="form.nombre">

                                        <div class="error-notification" v-if="form.errors.has('nombre')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('nombre') }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="identificacion" placeholder="Identificación o pasaporte"
                                        autocomplete="off" class="form-control" v-model="form.identificacion">

                                        <div class="error-notification" v-if="form.errors.has('identificacion')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('identificacion') }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="telefono" placeholder="Móvil"
                                        autocomplete="off" class="form-control" v-model="form.telefono">

                                        <div class="error-notification" v-if="form.errors.has('telefono')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('telefono') }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Email"
                                        autocomplete="off" class="form-control" v-model="form.email">

                                        <div class="error-notification" v-if="form.errors.has('email')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('email') }}
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <input id="have_flight" type="checkbox" name="" v-model="have_flight">
                                        <label for="have_flight">
                                            Tengo mi número de vuelo y deseo conservar esta reserva en caso de contratiempos o
                                            recoger y entregar mi vehículo en cualquier horario.
                                        </label>

                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <p class="text-justify" class="help-block">
                                             Si su vuelo sufre algún retraso, la agencia podrá dar un tiempo de espera y mantener la reserva activa hasta su llegada.
                                             También podrá recoger o entregar vehículos las 24 horas en los aeropuertos de cada ciudad.
                                             Por favor llene los siguientes datos:
                                        </p>
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="aerolinea" placeholder="Aerolínea"
                                        autocomplete="off" class="form-control" v-model="form.aerolinea">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="numero_vuelo_ida" placeholder="Número vuelo ida"
                                        autocomplete="off" class="form-control" v-model="form.numero_vuelo_ida">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="numero_vuelo_regreso" placeholder="Número vuelo regreso"
                                        autocomplete="off" class="form-control" v-model="form.numero_vuelo_regreso">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="fecha_nacimiento" placeholder="Fecha nacimiento (AAAA-MM-DD) ej: 1990-12-31"
                                        autocomplete="off" class="form-control" v-model="form.fecha_nacimiento">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="direccion_residencia" placeholder="Dirección residencia"
                                        autocomplete="off" class="form-control" v-model="form.direccion_residencia">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="ciudad_residencia" placeholder="Ciudad residencia"
                                        autocomplete="off" class="form-control" v-model="form.ciudad_residencia">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="referencia_nombre" placeholder="Nombre referencia personal"
                                        autocomplete="off" class="form-control" v-model="form.referencia_nombre">
                                    </div>

                                    <div class="form-group" v-if="have_flight">
                                        <input type="text" name="referencia_movil" placeholder="Teléfono referencia personal"
                                        autocomplete="off" class="form-control" v-model="form.referencia_movil">
                                    </div>

                                    <div class="form-group">
                                        <input id="politica_privacidad" type="checkbox" name="politica_privacidad" v-model="form.politica_privacidad">
                                        <label for="politica_privacidad">
                                            He leído y estoy de acuerdo con los términos y condiciones como de la política de tratamiento de la información
                                        </label>
                                        <a href="aviso-proteccion-de-datos.html" target="_blank"> Ver política</a>

                                        <div class="error-notification" v-if="form.errors.has('politica_privacidad')">
                                            <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ form.errors.get('politica_privacidad') }}
                                        </div>
                                    </div>

                                </div>
                                <div class="pull-right">
                                    <input type="submit" name="button" class="btn btn-default" :disabled="form.errors.any()" value="Enviar">
                                </div>

                            </form>

                            <div v-if="submitingError">
                                <i class="glyphicon glyphicon-exclamation-sign" ></i> {{ submitingError }}
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4"></div>
                </div>
            </section>

            <section id="politicas" class="fondo-politicas">
                <div class="row center-block">
                    <div class="politicas-descripcion" class="col-md-12 text-center">
                        <p style="margin-bottom: 40px;">Copyright 2018 | Alquílame Colombia</p>
                    </div>
                </div>
            </section>

        </div>

        <script type="text/javascript" src="https://www.alquilame.co/reservas/js/vars.js"></script>
        <script src="https://storage.googleapis.com/alquilamecostore/landing2020/js/page.js"></script>
        <script src="https://storage.googleapis.com/alquilamecostore/reservas2020/js/manifest.js"></script>
        <script src="https://storage.googleapis.com/alquilamecostore/reservas2020/js/vendor.js"></script>
        <script src="https://storage.googleapis.com/alquilamecostore/reservas2020/js/app.js"></script>
    </body>
</html>
