$font-basic-regular: "https://storage.googleapis.com/alquilamecostore/reservas2020/fonts/Basic-Regular.ttf";

@font-face {
    font-family: "Basic_Regular";
    src: local($font-basic-regular), url($font-basic-regular) format('opentype');
}

.error-notification{
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
}

h1, h2, h3, h4, h5, h6 { 
    margin: 0px; 
    font-family: "Basic_Regular"; 
    font-weight: lighter;
}

body{ 
    background-color: #FFF; 
    color:#000; 
    font-family: "Basic_Regular"; 
}


.fondo-cabecera{ 
    background: #fff top center repeat-x;
}
.contenido-cabecera {
    margin-bottom: 0px; 
    padding: 25px 0px 20px 0px;
}

.fondo-cuerpo { 
    background: #fff top center repeat-x;
}
.contenido-cuerpo { 
    padding: 10px 0px 35px 0px;
}

.rojo{ 
    background-color:#F00; 
    color:#FFF;
}
.amarillo{ 
    background-color:#FF0; 
    color: #000;
}
.azul{ 
    background-color:#00F;  
    color:#FFF;
}
.verde { 
    background-color: #0C0; 
    color:#FFF;
}

// $image-fondo-bio: "url(images/fondo-bio.png) #000 top center repeat-x";

// .fondo-imagenes {background: $image-fondo-bio; padding: 40px 0px 30px 0px;}

.fondo-politicas {
    background:#fff;
    text-align: center;
}
.contenido-politicas { 
    padding: 50px 0px 10px 0px; color:#666;
}

.contenido-copyright { 
    padding: 10px 0px 8px 0px;
}


.bottom0 { margin-bottom:0px; }
.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }

.top0 { margin-top:0px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }

.paddingleftright {padding: 0 20px; }
.paddingtop { padding-top: 20px; }
.paddingbottom { padding-bottom: 20px; }

.with-errors{ 
    font-weight: bold; 
    color: #FFF !important; 
    background-color: red !important; 
    margin-top: -3px; 
}

.boton-enviar{
    background-color:#FF0; 
    color: #000; 
    opacity: 100 !important; 
    width: 70% ; 
}

.item-cta {
    left: 0;
    bottom: 0;
    padding: 0;
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: center;
    background-color: rgba(255,255,255,0);
}

.item-cta a {
    color: #fff;
    width: 100%;
    margin: 16px;
    height: 37px;
    display: block;
    line-height: 40px;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    /*text-transform: uppercase;*/
    background-color: #02b875;
}


.degradado{
    background: -webkit-gradient(
        linear, 
        left top, 
        left bottom, 
        from( rgba(57,100,237,1.00)), 
        to( rgba(10,19,181,1.00))
    );
}

.paso {
    background-color: #9C0233;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.texto-rojo {
  color: #9C0233;
}

.horizontal-line{
  border-top: 1px solid #9C0233;
}

.car-image {
    text-align: center;
    margin-bottom: 15px;
}
